:root {
    --dark-background: #212121; /*bg color */
    --dark-input: #2e2e2e; /*box/input color */
    --dark-input-elements: #2e2e2e; /*box/input color */
    --dark-input-elements-hover: #474747;
    --paragraph-color: #dfdfdf; 
    --doopie-red: #cc1010;
    --dark-primary-lighter: #212121;
}

.container {
    background-color: var(--dark-background);
}

.header-top-left p {
        color: var(--paragraph-color)!important;
}

#footer {
    background-color: var(--dark-background) !important;
    border: 1px solid var(--doopie-red) !important;
    font-weight: normal !important;
}

.nice-select span.current {
    color: var(--paragraph-color)!important;
}

.nice-select.element.select.medium {
    background-color: var(--dark-input) !important;
    border: none !important;
}

.elementor-2218 .elementor-element.elementor-element-a698d44:not(.elementor-motion-effects-element-type-background), .elementor-2218 .elementor-element.elementor-element-a698d44 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--dark-background) !important;
    border-top: 1px solid var(--dark-input-elements);
    border-bottom: 1px solid var(--dark-input-elements);
}

#li_1.highlighted,
#li_2.highlighted,
#li_3.highlighted,
#li_4.highlighted,
#li_5.highlighted,
#li_6.highlighted {
    border-color: rgba(204, 16, 16, .3) !important;
}

#li_1,
#li_2,
#li_3,
#li_4,
#li_5,
#li_6 {
    border: 1px solid transparent;
}

.highlighted {
    background: none !important;
    border: 1px solid var(--dark-input-elements-hover);
    box-sizing: border-box;; 
}

.nice-select .list {
    background-color: var(--dark-input-elements);
    color: var(--paragraph-color)!important;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: var(--dark-input-elements-hover);;
}

form li span {
    color: var(--paragraph-color) !important;
}

input.button_text {
    border: none !important;
}

input.text {
    color: var(--paragraph-color) !important;
    background-color: var(--dark-input-elements) !important;
    border-color: var(--dark-input-elements) !important;
}

body {
    background-color: var(--dark-primary-lighter) !important;
}

#site-header-wrap.header-layout2 .site-header-main {
    background-color: var(--dark-primary-lighter) !important;
}

form li span label {
    color: var(--paragraph-color)!important;

    padding-top: 10px !important;
}

label.description {
    color: var(--paragraph-color)!important;
}

#form_container {
    background-color: var(--dark-primary-lighter) !important;
}

#site-header-wrap.header-layout2 .header-top .header-top-inner .header-top-right .top-right-content .ct-item span {
    color: var(--paragraph-color)!important;

}

.primary-menu > li.current-menu-ancestor > a {
    color: var(--paragraph-color) !important;

}

.primary-menu .sub-menu {
    background-color: var(--dark-primary-lighter) !important;
    color: var(--paragraph-color)!important;
}

.pirmary-menu .sub-menu li.current_page_item > a, .primary-menu .sub-menu li.current-menu-item > a {
    color: var(--paragraph-color)!important;
}

.primary-menu > li > a {
    color: var(--paragraph-color)!important;
}