:root {
    --dark-background: #212121;
    /*bg color */
    --dark-input: #2e2e2e;
    /*box/input color */
    --dark-input-elements: #2e2e2e;
    /*box/input color */
    --dark-input-elements-hover: #474747;
    --paragraph-color: #dfdfdf;
    --doopie-red: #cc1010;
    --dark-primary-lighter: #212121;
}

.dark-theme .container {
    background-color: var(--dark-background);
}

.dark-theme .header-top-left p {
    color: var(--paragraph-color) !important;
}

.dark-theme #footer {
    background-color: var(--dark-background) !important;
    border: 1px solid var(--doopie-red) !important;
    font-weight: normal !important;
}

.dark-theme .nice-select span.current {
    color: var(--paragraph-color) !important;
}

.dark-theme .nice-select.element.select.medium {
    background-color: var(--dark-input) !important;
    border: none !important;
}

.dark-theme .elementor-2218 .elementor-element.elementor-element-a698d44:not(.elementor-motion-effects-element-type-background),
.dark-theme .elementor-2218 .elementor-element.elementor-element-a698d44>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--dark-background) !important;
    border-top: 1px solid var(--dark-input-elements);
    border-bottom: 1px solid var(--dark-input-elements);
}

.dark-theme #li_1.highlighted,
.dark-theme #li_2.highlighted,
.dark-theme #li_3.highlighted,
.dark-theme #li_4.highlighted,
.dark-theme #li_5.highlighted,
.dark-theme #li_6.highlighted {
    border-color: rgba(204, 16, 16, .3) !important;
}

.dark-theme #li_1,
.dark-theme #li_2,
.dark-theme #li_3,
.dark-theme #li_4,
.dark-theme #li_5,
.dark-theme #li_6 {
    border: 1px solid transparent;
}

.dark-theme .highlighted {
    background: none !important;
    border: 1px solid var(--dark-input-elements-hover);
    box-sizing: border-box;
}

.dark-theme .nice-select .list {
    background-color: var(--dark-input-elements);
    color: var(--paragraph-color) !important;
}

.dark-theme .nice-select .option:hover,
.dark-theme .nice-select .option.focus,
.dark-theme .nice-select .option.selected.focus {
    background-color: var(--dark-input-elements-hover);
}

.dark-theme form li span {
    color: var(--paragraph-color) !important;
}

.dark-theme input.button_text {
    border: none !important;
}

.dark-theme input.text {
    color: var(--paragraph-color) !important;
    background-color: var(--dark-input-elements) !important;
    border-color: var(--dark-input-elements) !important;
}

.dark-theme input.button_text {
    border: none !important;
}

.dark-theme input.text {
    color: var(--paragraph-color) !important;
    background-color: var(--dark-input-elements) !important;
    border-color: var(--dark-input-elements) !important;
}

.dark-theme body {
    background-color: var(--dark-primary-lighter) !important;
}

.dark-theme #site-header-wrap.header-layout2 .site-header-main {
    background-color: var(--dark-primary-lighter) !important;
}

.dark-theme form li span label {
    color: var(--paragraph-color) !important;
    padding-top: 10px !important;
}

.dark-theme label.description {
    color: var(--paragraph-color) !important;
}

.dark-theme #form_container {
    background-color: var(--dark-primary-lighter) !important;
}

.dark-theme #site-header-wrap.header-layout2 .header-top .header-top-inner .header-top-right .top-right-content .ct-item span {
    color: var(--paragraph-color) !important;
}

.dark-theme .primary-menu>li.current-menu-ancestor>a {
    color: var(--paragraph-color) !important;
}

.dark-theme .primary-menu .sub-menu {
    background-color: var(--dark-primary-lighter) !important;
    color: var(--paragraph-color) !important;
}

.dark-theme .pirmary-menu .sub-menu li.current_page_item>a,
.dark-theme .primary-menu .sub-menu li.current-menu-item>a {
    color: var(--paragraph-color) !important;
}

.dark-theme .primary-menu>li>a {
    color: var(--paragraph-color) !important;
}